/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Asterisk Wildcard selector to override default style addedd by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General; Stules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Generic Project Styles */
    color: #000000;
    font-family: 'PT Serif', serif;

}

/*Header*/
header {
    background-color: #CC9901;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #4C275C;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo-img {
    display: block;
    height: 35%;
    width: 35%;

}

#logo {
    display: none;
}

h1 {
    font-family: 'PT Serif', serif;
    color: #4C275C
}

#menu {
    font-size: 100%;
    list-style-type: none;

}

#menu>li {
    margin-bottom: 0.5em;
}

#menu a:hover {
    font-weight: bold;
}

.active {
    border-bottom: 2px solid #4C275C;
}

/*Navbar styles with dropdown*/
nav {
    position: absolute;
    display: none;
    background-color: #CC9901;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    box-shadow: 0 3px 3px #4C275C;
    top: 100%;


}

/* Nav Toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main Content*/
main {
    background-color: #F5F5F5;

    /*make main element to take up any surplus space*/
    flex: 1 0 auto;
    margin-top: 136px;
}

/* Hero Section */
#hero {
    height: 600px;
    width: 100%;
    background: url("/assets/images/hero.JPEG");
}


/*Footer*/
footer {
    background-color: #CC9901;

}

.footer-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

#footer-name {
    width: 20%;
    /*border: 1px solid #000000;*/
    color:
}

#footer-address {
    width: 20%;
    /*border: 1px solid #000000;*/
    font-size: smaller;
}

#footer-social {
    width: 20%;
    /*border: 1px solid #000000;*/
    font-size: 160%;

    justify-content: space-between;

}



#social-networks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-align: center;



}

#social-networks>i {}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;

    }

    .nav-toggle-label {
        display: none;
    }

    #logo-img {
        height: 40%;
        width: 40%;
        padding-top: 3px 0 0;
    }

    /*Main Content*/
    main {
        margin-top: 112px;
    }


}

/* Media query: larger screen (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
        font-weight: bold;
    }
}


/*Media query: smaller screen (max of 940px) */
@media screen and (max-width: 940px) {
    #footer-name {
        display: none;
    }

    #footer-address {
        display: none;
    }

    #footer-social {
        width: 100%;
    }

    #social-networks {
        display: flex;
        justify-content: space-evenly;

    }
}