/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Asterisk Wildcard selector to override default style addedd by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General; Stules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    /* Generic Project Styles */
    color:#000000;
    font-family: 'PT Serif', serif;

}

/*Header*/
header {
    background-color: purple;
}


/*Main Content*/
main {
    background-color: gold;

    /*make main element to take up any surplus space*/
    flex: 1 0 auto;
}


/*Footer*/
footer {
    background-color: blue;
}