/*Google Fonts Import*/
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*Asterisk Wildcard selector to override default style addedd by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General; Stules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Generic Project Styles */
    color: #000000;
    font-family: "PT Serif", serif;
}

h1,
h2,
h3 {
    font-family: "PT Serif", serif;
    color: #4c275c;
}


/*Header*/
header {
    background-color: #cc9901;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #cc9901;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo-img {
    display: block;
    height: 40%;
    width: 40%;
    padding-top: 10px;
}

#logo {
    display: none;
}

#menu {
    font-size: 100%;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.5em;
}

#menu a:hover {
    font-weight: bold;
}

.active {
    border-bottom: 2px solid #4c275c;
}

/*Navbar styles with dropdown*/
nav {
    position: absolute;
    display: none;
    background-color: #cc9901;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    box-shadow: 0 3px 3px #4c275c;
    top: 100%;
}

/* Nav Toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main Content*/
main {
    background-color: #f5f5f5;

    /*make main element to take up any surplus space*/
    flex: 1 0 auto;
    margin-top: 100px;
}

/* Hero Section */
#hero {
    height: 600px;
    width: 100%;
    background: url("/assets/images/hero-image.jpg") no-repeat center center/cover;
    position: relative;


}

#cover-text {
    /* RGB values set for opacity*/
    background-color: rgb(46, 24, 52, 0.8);
    font-size: 135%;
    position: absolute;
    bottom: 40px;
    width: 85%;
    min-height: 90px;
    padding-left: 5px;
    padding-right: 5px;
}

#cover-text>h2,
#cover-text>h3,
#cover-text>p {
    color: #F5f5f5;
}

#cover-text>p {
    font-size: 80%;
}

/*Best Sellers*/
#testimonials {
    width: 100%;
    margin-top: 100px auto;
    display: block;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #F5f5f5;
    background-color: rgb(46, 24, 52, 0.95)
}

#best-seller {
    width: 100%;
    background-color: rgb(46, 24, 52);
    margin-top: 100px auto;
    display: block;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #F5f5f5;
}

#best-seller>h2,
#testimonials>h2 {
    color: #F5f5f5;
}

.bsphoto {
    height: 300px;
    width: 300px;
    border: 5px solid #f5f5f5;
    margin-top: 2px;
}

#best-products,
#testi {
    display: block;
    padding-top: 5px;


}

#testi p {
    font-weight: bold;
}

#testimonials {
    display: block;
    align-content: center;
}

#testi-cover {
    height: 75vw;
    width: 75vw;
    background: url("/assets/images/testi1.jpg") no-repeat top center/cover;
    /*makes the square image circle*/
    border-radius: 50%;
    margin: auto;
    max-height: 150px;
    max-width: 150px;

}

#testi2-cover {
    height: 75vw;
    width: 75vw;
    background: url("/assets/images/testi2.jpg") no-repeat top center/cover;
    /*makes the square image circle*/
    border-radius: 50%;
    margin: auto;
    max-height: 150px;
    max-width: 150px;

}

#testi3-cover {
    height: 75vw;
    width: 75vw;
    background: url("/assets/images/couple-testi3.jpg") no-repeat top center/cover;
    /*makes the square image circle*/
    border-radius: 50%;
    margin: auto;
    max-height: 150px;
    max-width: 150px;

}

/*Products - Main Content*/
#prodphoto {
    height: 25vw;
    width: 25vw;

}


/*Footer*/
#footer-social {
    width: 100%;
}

#social-networks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 200%;
}


#footer-name,
#footer-address {
    display: none;
}

footer {
    background-color: #cc9901;
}




/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo-img {
        height: 50%;
        width: 50%;
        padding-top: 10px;
    }

    /*Main Content*/
    main {
        margin-top: 112px;
    }

    /*Hero*/
    #cover-text {
        width: 350px;
        right: 15px;
        font-size: 150%;
        text-align: right;
    }

    /*Best Seller*/
    #best-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /*width: 100%;*/

    }

    #bschoco,
    #bsube,
    #bscrinckles {
        margin: 20px;
    }

    .bsphoto {
        height: 300px;
        width: 300px;
    }

    #testi {
        display: flex;
    }

    #testi-cover,
    #testi2-cover,
    #testi3-cover {
        width: 250px;
        height: 250px;
    }

    #testi1,
    #testi2,
    #testi3 {
        margin: 10px;
    }



    /*Footer*/
    .footer-logo {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

    #footer-name {
        display: block;
        width: 20%;
        margin-right: 10px;

    }

    #footer-address {
        display: block;
        width: 20%;
        /*border: 1px solid #000000;*/
        font-size: small;
        margin-right: 10px;
    }

    #footer-social {
        width: 20%;
        /*border: 1px solid #000000;*/
        font-size: 160%;
        display: block;
        justify-content: space-between;
        margin-right: 10px;
    }

    #social-networks {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        text-align: center;

    }

    /* Media query: larger screen (992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
            font-weight: bold;
        }

        #testi-cover,
        #testi2-cover,
        #testi3-cover {
            width: 75vw;
            height: 75vw;
        }

    }

    /* Media query: smaller screen (768px and below) 
   @media screen and (max-width: 768px) {
    #footer-name, #footer-address {
            display: none;
          
        }*/

}